
.jumbotron {
  padding-top: 3.8rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 5em;
    padding-bottom: 1em;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* Tambahan */
a,
a:focus,
a:hover {
  color: #fff;
}

.nav-link {
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-link:hover, .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.active {
  color: #fff;
  border-bottom-color: #fff;
}

.card img {
  width: 100%;
  height: 270px;
}
